* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../Imagens/FundoSite.png');
    /* Substitua pelo caminho da imagem de fundo */
    background-size: cover;
    display: flex;
}

.faixa-superior {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.faixa-superior .botao-retorno {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.icone-retorno {
    width: 45px;
    /* Ajuste o tamanho da imagem da seta */
    height: auto;
    cursor: pointer;
}

.faixa-superior h2 {
    font-size: 25px;
    color: black;
    margin: 0;
}

.faixa-lateral {
    height: 1835px;
    width: 220px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.botao-lateral {
    width: 100%;
    padding: 25px;
    font-size: 15px;
    text-align: left;
    border: none;
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.botao-lateral:hover,
.botao-lateral.ativo {
    background-color: #d28d5d;
    color: white;
}

.botao-lateral-link {
    text-decoration: none;
    /* Remove o sublinhado */
}

.conteudo-principal {
    margin-left: 220px;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    /* Adicionado padding à direita */
    width: 70%;
    /* Reduz a largura da área de texto para 60% da tela */
    max-width: 800px;
    /* Define uma largura máxima para telas maiores */
    min-height: 500px;
    /* Define uma altura mínima */
    margin: 0 auto;
    /* Centraliza o conteúdo principal */
}

.conteudo-principal h2,
h3 {
    font-size: 22px;
    color: white;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 30px;
}

/* Centraliza a imagem da questão */
.imagem-questao {
    display: block;
    margin: 20px auto;
    /* Centraliza a imagem e adiciona margem */
    width: 60%;
    /* Ajuste conforme necessário para o tamanho da imagem */
    max-width: 720px;
    /* Limite o tamanho máximo */
}

/* Estilo para cada divisão de questão */
.questao {
    background-color: rgba(255, 255, 255, 0.1);
    /* Fundo levemente diferente para destaque */
    border: 2px solid #d28d5d;
    /* Borda para separar visualmente */
    border-radius: 15px;
    /* Arredondamento nas bordas */
    padding: 20px;
    margin-bottom: 30px;
    /* Espaço entre as questões */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
}